/* CATEGORY BUTTONS */
.category-buttons {
  max-width: 600px;
  margin: 0 auto 20px auto;
  padding: 0 16px;

  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.category-buttons button {
  padding: 8px 14px;
  border: none;
  background: #e60000;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.category-buttons button:hover {
  background: #b30000;
}

.category-buttons button.active {
  background: black;
}
